<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="register_database"  connectionString="Server=127.0.0.1;Port=3306;Uid=etao;Pwd=etao123;Database=easy_register;Charset=utf8"/>
    <add name="monitor_database"  connectionString="Server=127.0.0.1;Port=3306;Uid=etao;Pwd=etao123;Database=easy_monitor;Charset=utf8"/>
  </connectionStrings>
</configuration>