<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="login_url" value="http://localhost:8002/login"/>
  <add key="login_redirect_page" value="~/"/>
  <add key="log_p_logdir" value="monitor_logs"/>
  <add key="log_is_logged" value="true"/>
  <add key="log_level" value="Info"/>
  <add key="log_logger" value="Easy.Public.MyLog.PlainFileLogger,Easy.Public"/>
</appSettings>
